---
 const personalImageAlt = "Alejandro Yela"
---

<article class="flex flex-col items-center  gap-8 text-gray-300 md:flex-row max-w-4xl justify-evenly">
  <div
  class="text-pretty order-2 md:order-1 [&>p]:mb-4 [&>p>strong]:text-blue-300 [&>p>strong]:font-normal"
>
  <p>
    Hola, soy <strong>Alejandro Yela</strong>. Ingeniero Biomédico con una Maestría en Ingeniería de Software y Sistemas Informáticos. Actualmente me desempeño en el <strong>área de Metrología y Desarrollo de Software</strong> en el Servicio Nacional de Aprendizaje (SENA).
  </p>

  <p>
    Poseo experiencia y habilidades destacadas en la implementación, aseguramiento, auditoría, certificación y acreditación bajo estándares internacionales como <strong>ISO 27001</strong> (Seguridad de la Información), <strong>ISO 9001:2015</strong> (Gestión de Calidad) e <strong>ISO 17025:2017</strong> (Laboratorios de Calibración).
  </p>

  <p>
    Además, mi trayectoria profesional me ha permitido liderar, capacitar y asesorar equipos de trabajo de forma efectiva, así como adquirir un amplio conocimiento en los procesos de contratación pública en Colombia.
  </p>
</div>


  <img width="200" height="200" src="/images/foto-aayb.png" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">

</article>