---
 const personalImageAlt = "Alejandro Yela"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-blue-500 dark:[&>p>strong]:text-blue-300 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Me llamo Alejandro Yela. Soy Ingeniero Biomédico y Magister en Ingeniería de Software y Sistemas Informáticos de profesión. Actualmente me dedico a la <strong
        >Metrología y el Desarrollo de Sofware</strong> en el Servicio Nacional de Aprendizaje SENA.
    </p>

    <p>
      Mis habilidades y logros, fuera del desarrollo de software, incluyen implementación, aseguramiento, auditoría, certificación y acreditación en normas internacionales de <strong>seguridad de la información</strong> (ISO 27001), <strong> de gestión de calidad</strong> (ISO 9000:2015), <strong> laboratorios de calibración</strong> (ISO 17025:2017)
    </p>

    <p>
      También gracias a mi profesión y lugar de trabajo, tengo habilidad y experiencia liderando, capacitando y asesorando equipos; y conozco a profundidad el proceso de contratación pública en Colombia.
    </p>
  </div>

  <img width="200" height="200" src="/images/foto-aayb.png" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">

</article>